* {
    margin: 0 auto;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}

h1 {
    margin: 20px 0;
    color: hotpink;
    font-size: 4vmin;
}

body {
    background-color:gainsboro;
    text-align: center;
}

nav {
    margin-bottom: 3vmin;
}

img {
    position: absolute;
    right: 25%;
    bottom: 5%;
    z-index: -1;
}

a {
    color: green;
    font-size: 4vmin;
}

a:hover {
    color: hotpink;
}

p {
    margin: 20px 0;
}