body {
    background-image: url(gifs/space2.gif);
}

h1 {
    color: whitesmoke;
    text-align: center;
    font-family: fantasy;
    margin: 5%;
}

p {
    color: yellow;
    text-align: justify;
    margin: 40px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    margin-right: 20%;
    margin-left: 20%;
}

img {
    width: 200px;
}

.chuck {
    position: fixed;
    top: 20px;
    right: 5%;
}

.warlock {
    position: fixed;
    bottom: 20px;
    left: 5%;
}

.mudkip
{
    position: fixed;
    bottom: 20px;
    right: 5%;
}
.queen {
    position: fixed;
    top: 20px;
    left: 5%;
}
.explosion1 {
    position: absolute;
    left: 20%;
}
.explosion2 {
    position: absolute;
    left: 40%;
}
.explosion3 {
    position: absolute;
    right: 40%;
}
.explosion4 {
    position: absolute;
    right: 20%;
}

.flame1 {
    position: fixed;
    top: 150px;
    right: 5%;
}
.flame1-5 {
    position: fixed;
    bottom: 120px;
    right: 5%;
}
.flame2 {
    position: fixed;
    top: 300px;
    left: 5%;
}