body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    background-color: black;

    align-items: center;
}

li {
    margin: 1em;
}

a {
    color: slateblue;
}

a:hover {
    color: tomato;
}